.font_size_form {
  font-size: 16px !important;
  background-color: #eeeeee !important;
  border: 3px solid #222;
}

.About_US {
  width: 100%;
  height: 100vh;
  padding: 50px;
  position: relative;
  margin-top: 250px;
}

.About_US:before {
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0;
  right: 0;
  z-index: -1;
  background: linear-gradient(160deg, #222 48%, #dcdcdc 0%);
}

body {
  background-color: #dcdcdc !important;
}

.text_color {
  color: #fff !important;
}

@media screen and (max-width: 600px) {
  .About_US {
    width: 100%;
    height: 200vh;
    padding: 50px;
    position: relative;
    margin-top: 250px;
  }

  .About_US:before {
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(0deg, #222 100%, #dcdcdc 0%);
  }
}
